
header{

}

body{
	background-color: #fff;
}

nav{
	height: 50px;
	width: 80%;
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.login_sign{
	background-color: #f2cf46;
	margin-bottom: 0;
	display: inline-block;
	text-align: center;

	float: right;
	padding: 0 20px 0 20px;

	height: 100%;
}


.login_sign:hover{
background-color: #d8b63a;
}

.login_sign p{
	font-size: 20px;
	margin: 8px;
	padding-top: 4px;
	text-decoration: none;
	color: black;
}

#login{
border-top: 1px solid #fff;
border-right:1px solid #fff;
border-left: none;
border-bottom: 1px solid #fff;

box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#sign_up{
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;

	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}



/****************************************************************
********************* LOGIN AND SIGN UP**************************
****************************************************************/
.member_nav{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3px;
	position: relative;
}

.wrapper{
	width: 400px;
	right: 0;
}

#login_wrapper{
position: absolute;
float: right;
}

#sign_up_wrapper{
	visibility: hidden;
	position: absolute;

}

.wrapper .form{
	margin: 0 auto;
	position: relative;

	background: #f2cf46;
	border: 1px solid #fff;

	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.wrapper .form #login_text{
	position: absolute;
	bottom: 10px;
	right: 10px;
	
}

.wrapper .form .form_content{
padding: 0 0 5px 30px;
}

.wrapper .form .form_content .input{
	width: 188px;
	padding: 9px 25px;
	margin-top: 15px;

	font-size: 14px;
	color: #9d9e9e;
	
	background: #fff;
	border: 1px solid #fff;

	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.wrapper .form .form_content .input:hover{
	background: #ffe896;
	color: #414848;
}

.wrapper .form .form_content .input:focus{
	background: #ffe896;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}


.wrapper .form .form_content .button{
	padding:8px 25px;
	margin-top: 10px;

	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	display: table;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.wrapper .form .form_footer .button:hover{
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.wrapper .form .form_footer .button:focus{
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
/******** 
HEADER
*********/

#logo{
	margin-left: 50px;
	display: inline-block;
	float: left;
}

.content{
margin-top: 200px;
}

#slideshow{
	width: 700px;
	margin-left: 50px;
}
#slideshow:hover{
	cursor: hand;
	cursor: pointer;
}